html {
    scroll-behavior: smooth;
}
.s-container {
    max-width: 1375px;
    padding-right: var(--s-site-space);
    padding-left: var(--s-site-space);
    @media (min-width: 1024px) {
        max-width: 1375px;
        padding-right: var(--s-site-space);
        padding-left: var(--s-site-space);
    }
    &.-narrow {
        max-width: 1200px;
        padding-right: var(--s-site-space);
        padding-left: var(--s-site-space);
    }
    .s-grid,
    .s-slider {
        &.-fullwidth {
            margin-left: calc(-1 * var(--s-site-space));
            margin-right: calc(-1 * var(--s-site-space));
            @media (min-width: 1024px) {
                margin-left: calc(-1 * var(--s-logo-space));
                margin-right: calc(-1 * var(--s-logo-space));
            }
        }
        &.-grid-space-wide {
            grid-row-gap: calc(var(--s-site-space) * 2);
        }
        &.-nav-arrow { 
            .nav .prev, .nav .next { 
                background-color: white;
                transition: var(--c-transition-hover);
                display: flex;
                align-items: center;
                justify-content: center;
                color: #333333;
                &:hover {
                  background-color: var(--s-accent);
                  border: 1px solid var(--s-accent);
                  color: white;
                }
                &:before { 
                  border: none;
                }
                @media (max-width: 1024px) {
                    display: none;
                }
            }
        }
    }
}
.s-grid {
    grid-gap: var(--s-site-space);
}
.text-underline {
    text-decoration: underline;
}
.display-inline-block { 
    display: inline-block !important;
}
.s-slider {
    &.-hidedot {
        .dots {
            display: none;
        }
    }
    .dots { 
        bottom: -40px;
        @media (max-width: 1024px) {
            padding-right: 20px;
        }
        .dot { 
            height: 11px;
            width: 11px;
            opacity: 1;
            background-color: #E0E0E0; 
            &.active { 
                width: 30px;
                background-color: var(--s-accent-hover);
            }
            
        }
    }
}
.carousel .flickity-page-dots { 
    bottom: -50px;
    @media (max-width: 1024px) {
        padding-right: 20px;
    }
    .dot { 
      background-color: #E0E0E0;
      height: 11px;
      width: 11px;
      opacity: 1;
      margin: 0 6px;
      &.is-selected { 
        background-color: var(--s-accent-hover);
        border-radius: 50px;
        width: 30px;
      }
    }
}

@media (max-width: 1023px) {
    .alignfull,
    .alignwide {
        margin-left: calc(var(--s-site-space) * -1);
        margin-right: calc(var(--s-site-space) * -1);
    }
}
.hide-on-d {
    display: block;
    @media (min-width: 1025px) {
        display: none;
    }
}
.hide-on-m {
    display: none;
    @media (min-width: 1025px) {
        display: block;
    }
}
.btn-w-100-m {
    a {
        width: 100%;
        @media (min-width: 1024px) {
            width: auto;
        }
    }
}
.w-100 {
    width: 100% !important;
}
.site-padding {
    padding-left: var(--s-site-space);
    padding-right: var(--s-site-space);
}
@media (max-width: 1024px) {
    ._desktop {
        display: none !important;
    }
}
@media (min-width: 1025px) {
    ._mobile {
        display: none !important;
    }
}

h2 { 
    font-size: var(--f-h2);
}
h3 { 
    font-size: var(--f-h3);
}
h4 { 
    font-size: var(--f-h4);
}
h5 { 
    font-size: var(--f-h5);
}
p { 
    font-size: var(--f-p);
}
.font-weight-500 { 
    font-weight: 500;
}

.mt-0 {
    margin-top: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.btn { 
    transition: var(--c-transition-hover);
    background-color: var(--s-accent);
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    min-width: 200px;
    font-weight: 400;
    font-size: 20px;
    &:hover { 
        background-color: var(--s-accent-hover);
        color: white;
    }
    &:active { 
        background-color: var(--s-accent-active);
        color: white;
    }
}

.btn.btn-cta { 
    min-width: 150px;
    color: white;
    &:hover  {
        color: white;
    }
}
.btn-rounded { 
    width: 60px;
    height: 60px;
    background-color: #FAEEED;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--c-transition-hover);
    cursor: pointer;
    svg { 
      width: 20px;
      height: 20px;
      color: var(--s-accent);
    }
    &:hover { 

        background-color: var(--s-accent-hover);
        svg {
            color: white;
        }
    }
}
.btn-sm { 
    background-color: var(--s-accent);
    color: white;
    min-width: 160px;
    min-height: 40px;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: var(--c-transition-hover);
    cursor: pointer;
    svg { 
      width: 20px;
      height: 20px;
      margin-left: 8px;
    }
    &:hover { 
        background-color: var(--s-accent-hover);
        color: white;
    }
    &:active { 
        background-color: var(--s-accent-active);
        color: white;
    }
}

.btn-icon-arrow { 
    .gb-icon { 
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50px;
    }
}

.btn-link { 
    font-size: 18px;
    font-weight: 400;
    color: #333;
    svg { 
        margin-left: 5px;
    }
    &:hover { 
        color: var(--s-accent-hover);
    }
    @media only screen and (max-width: 1024px) {
        font-size: 20px;
    }
}

.language-switcher { 
    > div { 
        width: 70px;
        font-size: 16px;
        min-height: var(--s-topheader-height);
        background-color: var(--s-accent-hover);
        &:hover, &:active, &:focus{ 
            .wpml-ls-item-toggle  {
                background-color: var(--s-accent-hover);
                color: white;
            }
        }
    }
    ul.active { 
        .wpml-ls-item-toggle { 
            background-color: var(--s-accent-hover);
            svg { 
               transform: scaleY(-1);
            }
        }
    }
    .wpml-ls-item {
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 400;
        .wpml-ls-item-toggle { 
            width: 100%;
            color: #fff;
            border: 0;
            background-color: var(--s-accent-hover);
            min-height: var(--s-topheader-height);
            align-items: center;
            display: flex;
            padding-left: 15px;
            svg { 
                position: absolute;
                right: 20px;
                top: 14px;
                width: 12px;
                height: 12px;
            }
        }
        .wpml-ls-item-toggle::after { 
            display: none;
        }
        .wpml-ls-sub-menu {
            border-top: 1px solid #fff;
        }
        .wpml-ls-link { 
            align-items: center;
            display: flex;
            min-height: var(--s-topheader-height);
            width: 100%;
            color: #fff;
            border: 0;
            background-color: var(--s-accent-hover);
            padding-left: 20px;
        }
    }
}
.language-switcher-m { 
    position: absolute;
    top: 14px;
    > div { 
        width: 50px;
        font-size: 20px;
        min-height: 35px;
        background-color: white;
        &:hover, &:active, &:focus{ 
            .wpml-ls-item-toggle  {
                background-color: white;
                color: var(--s-navy);
            }
        }
    }
    ul.active { 
        .wpml-ls-item-toggle { 
            background-color: white;
        }
    }
    .wpml-ls-item {
        width: 50px;
        font-weight: 500;
        .wpml-ls-item-toggle { 
            background-color: white;
            color: var(--s-navy);
            min-height: 35px;
            padding-left: 0;
            svg { 
                right: 16px;
                top: 12px;
            }
        }
        .wpml-ls-link { 
            min-height: 35px;
            background-color: var(--s-navy);
            padding-left: 0px;
            padding: 0;
            justify-content: center;
        }
    }
}

/*
    ######     #     #####  ### #     #    #    ####### ### ####### #     # 
    #     #   # #   #     #  #  ##    #   # #      #     #  #     # ##    # 
    #     #  #   #  #        #  # #   #  #   #     #     #  #     # # #   # 
    ######  #     # #  ####  #  #  #  # #     #    #     #  #     # #  #  # 
    #       ####### #     #  #  #   # # #######    #     #  #     # #   # # 
    #       #     # #     #  #  #    ## #     #    #     #  #     # #    ## 
    #       #     #  #####  ### #     # #     #    #    ### ####### #     # 
*/
.facetwp-facet.facetwp-facet-pagination.facetwp-type-pager{
    margin-bottom: 0;
}
.content-pagination, 
.facetwp-facet-pagination > .facetwp-pager {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    // margin-bottom: 100px;
    @media only screen and (max-width: 600px) {
        margin-bottom: 30px;
    }
    a,
    span {
      font-size: 22px;
      font-weight: 400;
      color: #4f4f4f;
      margin: 30px 12px 0;
      padding: 0 4px;
      border-bottom: 2px solid transparent;
      &.current, &.active { 
        color: var(--s-accent-hover);
        background-color: transparent;
        border-bottom: 2px solid var(--s-accent-hover);
      }
      &:hover { 
            color: var(--s-accent-hover);
        }
    }
    .next, .prev { 
        color: #BDBDBD;
        margin: 30px 18px 0;
        svg { 
            width: 18px;
            height: 18px;
        }
        &:hover { 
            color: var(--s-accent-hover);
        }
    }
    .prev { 
        margin-left: 0;
    }
    .next {
        margin-right: 0;
    }
    a {
      transition: 0.3s;
    }
}


// Form
.fluentform { 
    form { 
        h4 { 
            color: #4F4F4F;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 0;
        }
        .ff_t_c p {
            font-size: 18px;
            line-height: 22px;
            color: #333;
            padding-left: 25px;
        }
        .ff-el-form-control { 
            font-family: inherit;
        }
        .ff-el-group { 
            margin-bottom: 30px;
        }
        .ff-el-input--label label{ 
            color: #333;
            font-size: 18px;
            font-weight: 600;
        }
        .ff-el-input--content { 
            input, textarea, select {
                border: 0;
                background: #FFFFFF;
                border: 1px solid #F2F2F2;
                border-radius: 0px;
                padding: 8px 22px;
                font-size: 18px;
                color: #4F4F4F;
                font-weight: 400;
                &::placeholder { 
                    color: #E0E0E0;
                }
            }
            select.ff-el-form-control:not([size]):not([multiple]) { 
                height: auto;
            }
        }
        .ff-t-container {
            gap: 20px;
        }
        .upload-image-container { 
            margin-top: 10px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            flex-wrap: wrap-reverse; 
            .ff-el-input--label { 
                label { 
                    color: #4F4F4F;
                }
            }
            .ff-el-input--content { 
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                .ff_upload_btn.ff-btn { 
                    min-width: 210px;
                    text-align: center;
                    margin-right: 30px;
                    background-color: white;
                    border-radius: 50px;
                    border: 1px solid var(--s-accent);
                    color: #333333;
                    font-size: 20px;
                    font-weight: 600;
                    padding: 7px 10px;
                }
            }
        }
        .ff_submit_btn_wrapper {
            width: 100%;
            .ff-btn-submit{
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-weight: 500;
                font-size: 20px;
                background-color: var(--s-accent) !important;
                min-width: 210px;
                border: none;
                border-radius: 50px;
                margin: 0 auto;
                transition: .4s ease all;
                margin-top: 20px;

                &:hover {
                    // background-color: var(--s-accent-hover) !important;
                    color: var(--s-accent-hover);
                    border: none;
                    opacity: 1;
                }
            }
        }
        .custom-file-upload { 
            .ff_upload_btn { 
                svg { 
                    color: var(--s-accent);
                    margin-right: 10px;
                }
            }
        }
    }
}
@media only screen and (max-width: 680px) {
    .fluentform { 
        form { 
           
            .ff_t_c p {
                padding-left: 10px;
            }

            .upload-image-container { 
                flex-direction: column-reverse;
                .ff-el-input--content {
                    flex-direction: column;
                } 

                .ff-el-input--label, .ff-el-input--content { 
                    width: 100%;
                    label { 
                        width: 100%;
                        text-align: center;
                    }
                }
                .ff-el-input--content { 
                    .ff_upload_btn.ff-btn { 
                        min-width: 100%;
                        padding: 0;
                    }
                }
            }
            .ff_submit_btn_wrapper {
                .ff-btn-submit{
                    // min-width: 100%;
                }
            }
            .custom-file-upload { 
                .ff_upload_btn { 
                    svg { 
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}


.btn-c { 
    padding: 5px;
    color: var(--s-accent-hover);
    border: 1px solid var(--s-accent-hover);
    border-radius: 50px;
    font-size: 22px;
    min-width: 168px;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--c-transition-hover);
    &:hover { 
        background-color: var(--s-accent2);
        color: white;
        border: 1px solid var(--s-accent2);
    }
}


/*
  #####   ##   #####  
    #    #  #  #    # 
    #   #    # #####  
    #   ###### #    # 
    #   #    # #    # 
    #   #    # #####  
*/
.tabs-custom {
    display: flex;
    flex-wrap: wrap;
    .tab-custom-item { 
      min-height: 55px;
      padding: 0 35px;
      background-color: white;
      color: #BDBDBD;
      font-size: 25px;
      font-weight: 600;
      margin: 0 12px 24px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      transition: var(--c-transition-hover);
      border: 1px solid #BDBDBD;
      &:first-child { 
        margin-left: 0;
      }
      &.active { 
        color: white;
        background-color: var(--s-accent);
        border: 1px solid var(--s-accent);
        &:hover { 
            color: white;
        }
      }
      &:active { 
        font-weight: 700;
        color: white;
        background-color: var(--s-accent);
        border: 1px solid var(--s-accent);
      }
      &:hover { 
        border: 1px solid var(--s-accent);
        color: var(--s-accent); 
      }
    }
}


.title-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--s-space) * 2);
    @media (max-width: 1023px) {
        margin-bottom: calc(var(--s-space) * 1);
    }
    h3 { 
        font-size: 35px;
        font-weight: 700;
        color: #333;
        margin-bottom: 0;
    }
}


/*
    #####  #####  ######   ##   #####   ####  #####  #    # #    # #####  
    #    # #    # #       #  #  #    # #    # #    # #    # ##  ## #    # 
    #####  #    # #####  #    # #    # #      #    # #    # # ## # #####  
    #    # #####  #      ###### #    # #      #####  #    # #    # #    # 
    #    # #   #  #      #    # #    # #    # #   #  #    # #    # #    # 
    #####  #    # ###### #    # #####   ####  #    #  ####  #    # #####  
*/
.breadcrumb-container{ 
    padding-top: 30px;
    padding-bottom: 30px;
}
.rank-math-breadcrumb { 
    color: #828282;
    font-weight: 400;
    p {
        margin:0; 
        font-size: 18px;
    }
    a {
        color: #828282;
    }
    .separator { 
        margin: 0 4px;
    }
    .last { 
        font-weight: 500;
    }
    @media only screen and (max-width: 600px) {
        font-size: 16px;
        .last { 
            font-weight: 400;
        }
    }
}



/*                                  
    ######   ##    ####  ###### ##### 
    #       #  #  #    # #        #   
    #####  #    # #      #####    #   
    #      ###### #      #        #   
    #      #    # #    # #        #   
    #      #    #  ####  ######   #   
*/ 

.filter-container {
    // .facetwp-dropdown option:first-child { 
    //     display: none;
    // }
    display: flex;
    align-items: center;
    label { 
        font-size: 18px;
        color: #4f4f4f;
        margin-right: 12px;
        margin-bottom: 0;
    }
    .facetwp-facet { 
        margin-bottom: 0;
    }
    .facetwp-dropdown { 
        min-width: 120px;
        min-height: 40px;
        font-size: 20px;
        color: #333;
        border: 0;
        border-bottom: 1px solid var(--s-accent-hover);
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23FA744B'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
        background-size: 13px;
        background-position: calc(100% - 1px) 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    &.-multiple { 
        > div { 
            display: flex;
            align-items: center;
            margin-right: 26px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.box-link { 
    .kb-svg-icon-wrap, 
    .kb-adv-text-inner { 
        transition: var(--c-transition-hover);
    }
    &:hover { 
        .kb-svg-icon-wrap, 
        .kb-adv-text-inner { 
            color: var(--s-accent-hover);
        }
    }
}