/* == HEADER == */
body.headbar-d {
  .site-branding,
  .site-member {
    display: none;
  }
}
.site-header {
  min-height: var(--s-header-height);
  background-color: var(--s-bg);
  line-height: 1;
  > .s-container {
    position: relative;
    max-width: 100%;
    min-height: var(--s-header-height);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding-right: 0;
  }
  a {
    color: var(--s-text);
    &:hover {
      color: var(--s-accent-hover);
    }
  }
}
.site-header-space {
  min-height:  calc(var(--s-header-height) + var(--s-topheader-height));
}
.site-branding {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
  img {
    height: var(--s-header-height);
    width: 70px;
  }
}
.site-title {
  font-size: 24px;
}
.site-description {
  display: inline-block;
  margin: 0;
  padding-left: 15px;
  opacity: 0.75;
  padding-top: 2px;
}
.site-nav-d {
  margin-left: auto;
  > div {
    height: 100%;
  }
  .children {
    display: none;
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
    height: 100%;
  }
  li {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-left: 1px solid #F2F2F2;
    &:nth-child(6) { 
      .sub-menu { 
        .sub-menu { 
          left: unset;
          right: 100%;
        }
      }
    }
    a {
      padding: 10px 25px;
      font-size: 20px;
      font-weight: 500;
      color: #333;
      text-transform: uppercase;
      &:hover { 
        color: #333;
      }
      @media only screen and (max-width: 1332px) {
        padding: 10px 15px;
      }
      @media only screen and (max-width: 1192px) {
        font-size: 18px;
      }
      @media only screen and (max-width: 1106px) {
        font-size: 16px;
        padding: 10px 10px;
      }
    }
    &:hover {
      > .sub-menu {
        opacity: 1;
        max-height: 100vh;
        top: calc(100% + 1px);
        height: auto;
        z-index: 91;
        overflow: visible;
      }
    }
    &:nth-child(n + 4) {
      .sub-menu {
        width: 216px;
      }
    }
  }
  .sub-menu {
    display: block;
    text-align: left;
    overflow: hidden;
    opacity: 0;
    height: auto;
    max-height: 0;
    position: absolute;
    z-index: 90;
    top: calc(100%);
    filter: drop-shadow(var(--s-shadow));
    transition: all 0.3s ease-in-out;
    background-color: var(--s-bg);
    width: 230px;
    li {
      height: auto;
      line-height: 1.2;
      position: relative;
      padding: 0;
      border-left: none;
      &:hover { 
        background-color: var(--s-navy);
        a, svg { 
          color: white;
        }
      }
      a {
        padding: 10px 15px;
        display: block;
        color: #333;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        text-transform: none;
        transition: var(--c-transition-hover);
        &:hover { 
          background-color: var(--s-navy);
          color: white;
        }
      }
      &.menu-item-has-children {
        > a { 
          padding: 10px 30px 10px 15px;
        }
      }
      &:hover {
        .sub-menu {
          top: 0;
          z-index: 92;
        }
      }
      svg { 
        position: absolute;
        right: 10px;
      }
    }
    .sub-menu {
      left: 100%;
      top: 5px;
      li a {
        color: #333;
        &:hover { 
          color: white;
        }
      }
      &::before {
        display: none;
      }
      .sub-menu {
        display: none;
      }
    }
  }
}
.site-search {
  position: relative;
  align-items: center;
  display: flex;
  padding-right: 0;
}

.site-toggle {
  display: none;
}

/* == HEADER == */
.main-header {
  &.-breadcrumb-xl { 
    height: 670px;
  }
}

/* == BODY == */
// Card document download
.content-document { 
  padding: 25px 35px;
  .entry-date { 
    min-width: 150px;
  }
  .file-btns { 
    width: 300px;
  }
}


/* CONTENT ITEM */
.content-item {
  &.-card {
    .pic {
      height: 270px;
      img {
        height: 270px;
      }
    }
    .entry-link a{ 
      font-size: 18px;
    }
  }
  &.-list {
    flex-direction: row;
    .pic {
      width: 50%;
      padding-right: 40px;
      border-radius: var(--s-border-radius) 0 0 var(--s-border-radius);
      height: 350px;
      img {
        border-radius: var(--s-border-radius) 0 0 var(--s-border-radius);
        height: 350px;
      }
    }
    .info {
      width: 50%;
      padding: var(--s-box-padding) 40px;
      .entry-meta { 
        font-size: 22px;
      }
      .entry-title { 
        font-size: 35px;
      }
    }
    .entry-summary {
      p { 
        -webkit-line-clamp: 6;
      }
    }
  }
  &.-job { 
    .entry-title { 
      min-height: 80px;
      font-size: 30px;
    }
  }
  &.-webcast {
    .pic {
      height: 230px;
      img {
        height: 230px;
      }
    }
    .entry-link a{ 
      font-size: 18px;
    }
  }
}


.content-single { 
  .entry-title { 
    margin-bottom: 10px;
    font-size: 45px;
  }
}


.related-container { 
  .s-container { 
    padding-right:  var(--s-site-space);
  }
  .relate-title { 
    font-size: 45px;
  }
}

/*
  #####  ####  #####  #    # ######   ##   #####  ###### #####  
    #   #    # #    # #    # #       #  #  #    # #      #    # 
    #   #    # #    # ###### #####  #    # #    # #####  #    # 
    #   #    # #####  #    # #      ###### #    # #      #####  
    #   #    # #      #    # #      #    # #    # #      #   #  
    #    ####  #      #    # ###### #    # #####  ###### #    # 
*/
.top-header { 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--s-accent);
  min-height: var(--s-topheader-height);
  .menu { 
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    .menu-item { 
      &:hover { 
        background-color: var(--s-navy);
        color: white;
      }
      a{ 
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
        min-height: var(--s-topheader-height);
        padding: 0 20px;
        transition: var(--c-transition-hover);
        &:hover { 
          color: white;
        }
      }
      &:hover {
        > .sub-menu {
          opacity: 1;
          max-height: 100vh;
          top: var(--s-topheader-height);
          height: auto;
          z-index: 91;
          overflow: visible;
        }
      }
    }
    .sub-menu {
      display: block;
      text-align: left;
      overflow: hidden;
      opacity: 0;
      height: auto;
      max-height: 0;
      position: absolute;
      z-index: 90;
      top: var(--s-topheader-height);
      filter: drop-shadow(var(--s-shadow));
      transition: all 0.3s ease-in-out;
      background-color: #f2f2f2;
      min-width: 217px;
      list-style: none;
      padding: 0;
      li {
        height: auto;
        line-height: 1.4;
        position: relative;
        a {
          padding: 9px 12px;
          display: block;
          color: #333;
          text-align: left;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }
}


/* == FOOTER == */
.footer-menu-links { 
  .footer-menu-item { 
    font-size: 20px;
  }
}
.site-footer {
  > .s-container { 
    justify-content: space-between;
    flex-direction: row;
    padding: 0 25px;
  }
  .site-info-menu { 
    text-align: right;
  }
}
.site-info { 
  margin-top: 0px;
}

/*
           ##           
   ####   #  #    ####  
  #        ##    #      
   ####   ###     ####  
       # #   # #      # 
  #    # #    #  #    # 
   ####   ###  #  ####  
*/
.ss-section { 
  .ss-section-title { 
    font-size: 70px;
  }
  .ss-left { 
    padding-left: calc((100% - 687.5px) +  35px);
    padding-right: 50px;
    .ss-item { 
      font-size: 35px;
    }
  }
  .ss-right { 
    height: 650px;
    img {
      height: 650px;
    }
  }
}


/*
   ####  #####  ####   ####  #    # 
  #        #   #    # #    # #   #  
   ####    #   #    # #      ####   
       #   #   #    # #      #  #   
  #    #   #   #    # #    # #   #  
   ####    #    ####   ####  #    # 
*/
.stock-homepage { 
  .title { 
    font-size: 40px;
  }
  .logo { 
    text-align: right;
    img { 
      width: 108px;
    }
  }
  
  .main-stock {
    font-size: 70px;
  }
  .s-grid.section-1 { 
    margin-bottom: 60px;
    grid-template-columns: 3fr 2fr;
  }
  .s-grid.section-2 { 
    margin-bottom: 15px;
  }
  .s-grid { 
    grid-template-columns: 3fr 2fr;
  }
  label, .value {
    font-size: 30px;
  }
  .value, .price { 
    text-align: left;
  }
}

/*
 ####  #    # #  ####  #    #    #    # ###### #    # #    # 
#    # #    # # #    # #   #     ##  ## #      ##   # #    # 
#    # #    # # #      ####      # ## # #####  # #  # #    # 
#  # # #    # # #      #  #      #    # #      #  # # #    # 
#   #  #    # # #    # #   #     #    # #      #   ## #    # 
 ### #  ####  #  ####  #    #    #    # ###### #    #  ####  
*/
.quick-menu {
  grid-gap: 20px;
  .quick-menu-item { 
    min-height: 205px;
    svg { 
      margin-bottom: 20px;
      width: 53px;
    }
    .quick-menu-title { 
      font-size: 25px;
    }
  }
}

/*
  #####   ####  #    # #    # #       ####    ##   #####  
  #    # #    # #    # ##   # #      #    #  #  #  #    # 
  #    # #    # #    # # #  # #      #    # #    # #    # 
  #    # #    # # ## # #  # # #      #    # ###### #    # 
  #    # #    # ##  ## #   ## #      #    # #    # #    # 
  #####   ####  #    # #    # ######  ####  #    # #####  
*/
.file-download { 
  flex-direction: row;
  .file-name { 
    h4 { 
      margin-bottom: 0;
    }
  }
}
.file-btns  {
  .button { 
    margin: 0 10px;
  }
}
.sg-file-download { 
  flex-direction: row;
  padding: 42px;
  .file-name { 
    text-align: left;
    h4 { 
      margin-bottom: 0;
      font-size: 30px;
      color: #333;
    }
  }
}

/*
  #####   ##   #####  
    #    #  #  #    # 
    #   #    # #####  
    #   ###### #    # 
    #   #    # #    # 
    #   #    # #####  
*/
.latest-news { 
  padding-right: var(--s-site-space);
}
.tab-container {
  justify-content: space-between;
  padding-right: 0;
  .tab-item-container { 
    .tab-item { 
      min-width: 96px;
      margin-right: 30px;
      font-size: 18px;
    }
  }
}
.tab-content-container { 
  .s-grid { 
    grid-gap: 20px;
  }
}

/*
  #    # #  ####  #####  ####  #####  #   # 
  #    # # #        #   #    # #    #  # #  
  ###### #  ####    #   #    # #    #   #   
  #    # #      #   #   #    # #####    #   
  #    # # #    #   #   #    # #   #    #   
  #    # #  ####    #    ####  #    #   #   
*/
.history { 
  padding-right: var(--s-site-space);
  .s-grid {
    &:nth-child(odd) { 
      .history-detail { 
        padding-right: 120px;
      }
    }
    &:nth-child(even) { 
      .history-detail { 
        padding-left: 120px;
      }
    }
  }
  .timeline-line {
    left: 50%;
  }
  .dot {
    left: calc(50% - 7px);
  }
  .history-milestone { 
    padding-left: 100px;
    order: inherit;
    h3 { 
      font-size: 80px;
      margin: 0;
      margin-top: inherit;
      top: inherit;
      position: inherit;
    }
  }
  .history-detail { 
    order: inherit;
    padding-top: 40px;
    .history-pinpoint {
      margin-top: 50px;
      .description p{
        font-size: 25px;
      }
      > div { 
        font-size: 25px;
        .year { 
          min-width: 50px;
        }
      }
    }
  }
}

/*
    ##   #    #   ##   #####  #####  
   #  #  #    #  #  #  #    # #    # 
  #    # #    # #    # #    # #    # 
  ###### # ## # ###### #####  #    # 
  #    # ##  ## #    # #   #  #    # 
  #    # #    # #    # #    # #####  
*/
.taxonomy-banner { 
  > .s-container { 
    min-height: 200px;
  }
  .taxonomy-title { 
    font-size: 60px;
  }
}
.tax-award-type { 
  .s-grid { 
    grid-template-columns: 1fr repeat(2, minmax(0, 1fr));
    padding-top: 60px;
    grid-gap: 40px 20px;
    > .content-item:first-child  { 
      grid-column: span 3;
      margin-bottom: 50px;
    }
    .content-item.-card { 
      .pic {
        height: inherit;
        img { 
          height: inherit;
        }
      }
    }
  }
}


/*
  #####   ####   ####  #    # #    # ###### #    # ##### 
  #    # #    # #    # #    # ##  ## #      ##   #   #   
  #    # #    # #      #    # # ## # #####  # #  #   #   
  #    # #    # #      #    # #    # #      #  # #   #   
  #    # #    # #    # #    # #    # #      #   ##   #   
  #####   ####   ####   ####  #    # ###### #    #   #   
*/
.document-header { 
  justify-content: space-between;
  flex-direction: row;
  .filter-container { 
    margin-top: 0;
  }
}

.document-container { 
  border: none;
  padding: 0;
  .s-grid {
    border: 1px solid #F2F2F2;
    padding: 30px 50px 80px;
  }
  .document-table-header { 
    .dth-date { 
      min-width: 185px;
      padding-left: 35px;
    }
  }
}


/*
  #    # ###### #    #  ####  
  ##   # #      #    # #      
  # #  # #####  #    #  ####  
  #  # # #      # ## #      # 
  #   ## #      ##  ## #    # 
  #    # ###### #    #  ####  
*/
.news-container { 
  .s-grid { 
    grid-template-columns: 1fr repeat(2, minmax(0, 1fr));
    padding-top: 60px;
    grid-gap: 40px 20px;
    > .content-item:first-child  { 
      grid-column: span 3;
      margin-bottom: 50px;
    }
    .content-item.-card { 
      .pic {
        height: 270px;
        img { 
          height: 270px;
        }
      }
    }
  }
}
.news-wrap { 
  text-align: left;
}

.internship-silder { 
  .nav { 
    .prev, .next { 
      top: calc(-90px);
      height: 45px;
      width: 45px;
      right: 0;
    }
    .prev { 
      right: 55px;
      left: unset;
    }
  }
}



/*
       #  ####  #####  
       # #    # #    # 
       # #    # #####  
       # #    # #    # 
  #    # #    # #    # 
   ####   ####  #####  
*/
.jobs-anchors { 
  padding: 130px 0;
  h3 { 
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
  }
  span { 
    color: white;
    font-size: 25px;
  }
  .jobs-anchors-wrapper { 
    margin-top: 50px;
    grid-gap: 25px 20px;
  }
}
.anchor-section { 
  padding: 120px 150px;
  .s-container { 
    max-width: 1200px;
  }
  .anchor-section-header { 
    svg {
      width: 50px; 
      margin-right: 30px;
    }
    h3 { 
      font-size: 50px;
    }
    p { 
      margin-top: 40px;
      font-size: 25px;
      line-height: 1.1;
    }
  }
  .s-grid { 
    grid-gap: 30px 40px;
  }
}



.single-job {
  .banner-bg { 
    height: 380px;
    .bg-image { 
      height: 380px;
    }
    .overlay {
      height: 380px;
    }
  }
  .meta-info { 
    padding: 45px;
    top: -180px;
    flex-direction: row;
    .info-icon {
      width: 80px; 
      height: 80px;
      margin-right: 30px;
    }
    .info-text {
      h2 {
        font-size: 50px;
      }
    }
    .entry-cta { 
      margin-top: 0px;
      width: 195px;
    }
  }
  // Content
  .entry-content { 
    top: -90px;
    flex-direction: row;
    padding-bottom: 0px;
    .left { 
      margin-right: 100px;
    }
    .right {
      margin-top: 0px;
    }
  }
}



/*
   ####   ####  #    # #####   ##    ####  ##### 
  #    # #    # ##   #   #    #  #  #    #   #   
  #      #    # # #  #   #   #    # #        #   
  #      #    # #  # #   #   ###### #        #   
  #    # #    # #   ##   #   #    # #    #   #   
   ####   ####  #    #   #   #    #  ####    #   
*/
.contact-card {
  min-height: 420px;
  .info { 
    padding: 45px;
  }
  &.-large { 
    flex-direction: row;
    .pic { 
      width: 60%;
      margin-top: 0px;
    }
    .info { 
      width: 40%;
      padding: 50px 40px;
    }
    &:hover { 
      background-color: var(--s-accent);
      .info { 
        h3, .address, .icon-list, .link { 
          color: white;
        }
      }
    }
  }
}


/*
   ####   ####  #      #    # ##### #  ####  #    # 
  #      #    # #      #    #   #   # #    # ##   # 
   ####  #    # #      #    #   #   # #    # # #  # 
       # #    # #      #    #   #   # #    # #  # # 
  #    # #    # #      #    #   #   # #    # #   ## 
   ####   ####  ######  ####    #   #  ####  #    # 
*/
.template-solution-banner, 
.template-product-banner  { 
  height: 500px;
  max-height: 500px;
  .s-container { 
    height: 500px;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .banner-title { 
      font-size: 100px;
      margin: 0;
    }
  }
}

.page-template-solution, 
.page-template-product,
.page-template-product-child { 
  .s-container.main-body { 
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .tabs-link { 
    justify-content: flex-start;
  }
  .page-template-label { 
    margin-bottom: 40px;
    padding-left: 36px;
  }
}

.main-solution-desktop, 
.main-product-desktop { 
  display: flex;
  .child-title-container.left {  
    width: 40%;
    padding-left: calc((50% - 650px) + 25px);
    padding-top: 25px;
    padding-bottom: 75px;
    .page-template-title { 
      padding: 2px 36px;
      border-left: 2px solid var(--s-accent);
      h2 { 
        color: var(--s-accent);
        font-size: 45px;
        font-weight: 500;
        line-height: 1.4;
        text-transform: uppercase;
      }
    }
    .child-title { 
      padding-left: 36px;
      margin-bottom: var(--s-space);
      font-size: 30px;
      font-weight: 500;
      line-height: 1.3;
      text-transform: uppercase;
      color: #BDBDBD;
      transition: var(--c-transition-hover);
      cursor: pointer;
      &.active {
        color: var(--s-accent);
      }
    }
  } 
  .child-content-container.right { 
    width: 60%;
    position: relative;
    background-color: #FAFAFA;
    padding-top: 75px;
    padding-bottom: 75px;
    .child-content {
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
      width: 100%;
      height: 0;
      overflow-x: hidden;
      &.active { 
        height: 100%;
        opacity: 1;
      }
      .alignfull {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        .kt-row-column-wrap { 
          padding-left: 0;
          padding-right: 0;
        }
      }
      > .alignnone { 
        padding-right: calc((90% - 650px) + 25px);
        padding-left: 50px;
      }
    }
  }
}

.main-product-desktop  {
  .child-title-container.left { 
    padding-right: 80px; 
    .child-title { 
      font-size: 45px;
      line-height: 1;
      margin-bottom: 0;
      padding-bottom: 15px;
      padding-top: 15px;
      border-left: 2px solid #E0E0E0;
      &.active { 
        border-left: 2px solid var(--s-accent);
      }
    }
  } 
}

.page-template-product-child { 
  .main-product-desktop { 
    .child-title-container.left { 
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    }
  }
  .link-back{ 
    padding-left: 0;
    padding-bottom: 0;
  }
}

/*
   ####  #####  ####   ####  #    #    # #####  
  #        #   #    # #    # #   #     # #    # 
   ####    #   #    # #      ####      # #    # 
       #   #   #    # #      #  #      # #####  
  #    #   #   #    # #    # #   #     # #   #  
   ####    #    ####   ####  #    #    # #    # 
*/
.stock-ir {
  flex-direction: row;
  padding-bottom: 0px;
  .col { 
    padding: 65px 40px 25px;
    border-right: 1px solid #f2f2f2;
    width: 23.333%;
    text-align: left;
    &:last-child { 
      border-right: 0;
    }
    &.col-1 { 
      padding-top: 25px;
    }
    &.col-2 {
      width: 30%;
      padding-bottom: 0;
    }
    &.col-3, &.col-4 {
      display: block;
      padding-top: 90px;
    }
    label { 
      color: #828282;
      font-size: 20px;
      font-weight: 400;
    }
  }
}



/*
  # #####     #    #   ##   #    # 
  # #    #    ##   #  #  #  #    # 
  # #    #    # #  # #    # #    # 
  # #####     #  # # ###### #    # 
  # #   #     #   ## #    #  #  #  
  # #    #    #    # #    #   ##   
*/
.template-navigation-desktop { 
  display: flex;
  margin: 40px 0;
  .nav-item { 
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 68px;
    background-color: #F2F2F2;
    color: #828282;
    font-size: 30px;
    font-weight: 500;
    border-radius: 5px 5px 0px 0px;
    transition: var(--c-transition-hover);
    &.active { 
      background-color: var(--s-accent);
      color: white;
      font-weight: 700;
    }
    &:hover { 
      background-color: var(--s-accent);
      color: var(--s-accent-hover);
    }
  }
}



/*
    ##   #    #   ##   #      #   #  ####  ##### 
   #  #  ##   #  #  #  #       # #  #        #   
  #    # # #  # #    # #        #    ####    #   
  ###### #  # # ###### #        #        #   #   
  #    # #   ## #    # #        #   #    #   #   
  #    # #    # #    # ######   #    ####    #   
*/
.card-analyst { 
  .grid-person  { 
    grid-gap: 25px;
  }
}


.page-template-webcast-and-activities { 
  .document-header { 
    margin-top: 100px;
  }
}