@import "variables";
@import "begin";
@import "seed";
@import "fonts";
@import "etc";
@import "custom";
/* == GENERAL == */
.site {
  position: relative;
  min-height: 100vh;
}
.home-banner {
  margin-bottom: 30px;
  img {
    width: 100%;
  }
}
.page-banner {
  img {
    width: 100%;
  }
  > .widget {
    display: none;
    &:first-of-type {
      display: block;
    }
  }
}

/* == HEADER == */

.site-header {
  z-index: 900;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  color: var(--s-text);
  background-color: var(--s-bg);
  min-height: var(--s-header-height);
  box-shadow: var(--s-shadow);
  a {
    color: var(--s-text);
  }
  .show-nav & { 
    position: fixed;
  }
}

.site-header-space {
  min-height: var(--s-header-height);
}

.site-branding {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  img {
    width: auto;
    height: 40px;
  }
}

.site-logo {
  img {
    margin: 0 10px;
  }
}

.site-title {
  margin: 0;
  font-size: 22px;
  line-height: 1;
  padding-top: 2px;
}

.site-description {
  display: none;
}

.site-toggle {
  position: absolute;
  top: calc((var(--s-header-height) - 50px) / 2);
  right: 12px;
  height: 50px;
  width: 50px;
  font-size: 10px;
  padding: 16px;
  cursor: pointer;
  b {
    top: 50%;
    margin-top: -1px;
    z-index: 1;
    &,
    &:before,
    &:after {
      pointer-events: none;
      display: block;
      content: "";
      border-radius: 2px;
      background-color: var(--s-navy);
      height: 2px;
      position: absolute;
      transform: rotate(0);
      transition: top 0.3s 0.15s, left 0.1s, background-color 0.3s 0.2s,
        transform 0.2s;
    }
    &:before {
      // Line: 1 (Relative to line 2)
      left: 0;
      right: 0px;
      top: -8px;
    }
    & {
      // Line: 2
      left: 14px;
      right: 14px;
    }
    &:after {
      // Line: 3 (Relative to line 2)
      left: 0;
      right: 0px;
      top: 8px;
    }
  }

  &.active {
    b {
      background-color: transparent;
      &,
      &:after,
      &:before {
        transition: top 0.2s, left 0.2s, background-color 0.2s,
          transform 0.2s 0.15s;
      }
      &:before,
      &:after {
        left: 0;
        top: 0;
        right: 0;
      }
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }
}

.site-search {
  position: absolute;
  padding: 10px 16px;
  right: 0;
  top: calc((var(--s-header-height) - 50px) / 2);
  cursor: pointer;
  height: 50px;
  line-height: 26px;
  svg {
    pointer-events: none;
  }
}


.site-nav-m {
  font-size: 25px;
  position: absolute;
  display: block;
  left: 0;
  top: var(--s-header-height);
  height: 0;
  opacity: 0;
  width: 100%;
  background: none;
  overflow: hidden;
  transition: 0.5s ease;
  z-index: 1;
  .s-container { 
    padding: 0;
  }
  ul {
    padding: 0;
    margin: 0;
    ul.sub-menu {
      padding: 0;
      background-color: #002F46;
      li {
        &:first-child { 
          padding-top: 20px;
          .plus { 
            top: 35px;
          }
        }
        &:last-child {
          padding-bottom: 30px;
        }
        border-bottom: none;
      }
      a {
        padding: 5px 10px 5px 38px;
        font-size: 22px;
        font-weight: 400;
      }
      ul { 
        background-color: #002A3F;
        li {
          &:first-child { 
            padding-top: 15px;
          }
          &:last-child {
            padding-bottom: 20px;
          }
          border-bottom: none;
        }
        a { 
          padding: 5px 10px 5px 62px;
        }
      }
    }
  }
  li {
    list-style: none;
    position: relative;
    color: var(--s-text);
    a {
      font-size: 25px;
      font-weight: 500;
      display: block;
      color: var(--s-text);
      padding: 8px 25px;
      width: 80%;
      text-transform: uppercase;
    }
  }
  svg {
    transition: all 0.3s, opacity 0.5s ease 0.5s;
    opacity: 0;
  }
  &.active {
    // MENU OPEN
    height: calc(100vh - var(--s-header-height));
    background-color: var(--s-bg);
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    opacity: 1;
    padding: 40px 0;
    .menu > li {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
  }
  .menu-item-has-children {
    position: relative;
    &.active {
      > a { 
        color: var(--s-accent-hover);
        font-weight: 700;
      }
      > .plus b { 
        background-color: var(--s-accent-hover);
        &:before {
          background-color: var(--s-accent-hover);
        }
      }
    }
    > .sub-menu {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.5s, opacity 0.3s;
      .plus { 
        right: 37px;
        top: 15px;
      }
      li.active{
        .sub-menu { 
          margin-top: 12px;
        }
        > a { 
          color: white;
          font-weight: 400;
        }
      }
    }
    &.active > .sub-menu {
      margin-bottom: 12px;
      max-height: 300vh;
      opacity: 1;
      transition: opacity 0.6s ease-in-out;
    }
    &.active > .plus { 
      &:hover { 
        b { 
          &:before { 
            background-color: transparent;
          }
        }
      }
      b { 
        &:before { 
          background-color:transparent;
        }
      }
    }
    .plus {
      cursor: pointer;
      position: absolute;
      top: 22px;
      right: 25px;
      width: 12px;
      height: 12px;
      b { 
        display: block;
        -webkit-transition: top 0.3s 0.15s, left 0.1s, background-color 0.1s, -webkit-transform 0.2s;
        transition: top 0.3s 0.15s, left 0.1s, background-color 0.1s, -webkit-transform 0.2s;
        transition: top 0.3s 0.15s, left 0.1s, background-color 0.1s, transform 0.2s;
        transition: top 0.3s 0.15s, left 0.1s, background-color 0.1s, transform 0.2s, -webkit-transform 0.2s;
        height: 1px;
        width: 12px;
        background-color: white;
        position: absolute;
        transform:translateY(-50%);
        top: 50%;
        right: 0;
        pointer-events: none;
        &:before { 
          display: block;
          content: "";
          background-color: white;
          position:absolute;
          height: 12px;
          width: 1px;
          top: -6px;
          left: 6px;
        }
      }
    }
  }
  .menu > li {
    transform: scale(1.1) translateY(-2px);
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.4s;
    &:nth-child(1) {
      transition-delay: 0.1s;
    }
    &:nth-child(2) {
      transition-delay: 0.15s;
    }
    &:nth-child(3) {
      transition-delay: 0.2s;
    }
    &:nth-child(4) {
      transition-delay: 0.25s;
    }
    &:nth-child(5) {
      transition-delay: 0.3s;
    }
    &:nth-child(6) {
      transition-delay: 0.35s;
    }
  }
  .children {
    display: none;
  }
}

// Headbar
@media (max-width: 991px) {
  body.headbar-m {
    .site-branding,
    .site-member,
    .site-toggle {
      display: none;
    }
  }
}

/* == BODY == */
.main-header {
  position: relative;
  overflow: hidden;
  padding: var(--s-space) 0;
  margin-bottom: var(--s-space);
  display: flex;
  &.-banner {
    min-height: var(--s-title-height);
    background: #000;
    color: #fff;
    text-align: center;

    a {
      color: #fff;
    }
    .s-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &.-minimal {
    padding-bottom: 0;
    .site-single & {
      margin-bottom: 0;
    }
  }
  &.-hidden {
    display: none;
  }
  &.-center {
    text-align: center;
  }
  .bg {
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: -50px;
    right: -50px;
    background-size: cover;
    opacity: var(--s-title-bg-opacity);
    filter: blur(var(--s-title-bg-blur));
    background-position: center center;
    &.-blank {
      filter: none;
      opacity: 1;
      background: var(--s-accent);
      color: var(--s-bg);
    }
  }
  .title {
    font-size: var(--s-title-size);
    margin: 0;
    small {
      font-size: 0.7em;
      display: block;
      padding-top: 5px;
    }
  }
  .bc {
    font-size: 0.875em;
    margin: 10px 0 0;
    .si-angle-right {
      padding: 0 5px;
      vertical-align: -1px;
    }
  }
}

.site-main.-hide-title {
  h1.entry-title,
  h1.page-title {
    display: none;
  }
}
/* CONTENT ITEM */
.content-item {
  position: relative;
  .pic {
    line-height: 0;
    margin-bottom: 15px;
    overflow: hidden;
    a:hover,
    a:active {
      opacity: 1;
    }
    img {
      width: 100%;
      transition: 0.5s ease;
    }
  }
  .entry-title {
    margin-bottom: 0;
    font-size: 1.25em;
  }
  .entry-meta {
    margin-bottom: 0;
  }
  .cat {
    a {
      background: var(--s-accent);
      color: #fff;
      font-size: 0.875em;
      padding: 3px 6px;
      border-radius: var(--s-border-radius);
      transition: 0.3s;
      &:hover {
        background: var(--s-accent-hover);
      }
    }
  }
  .tags-links,
  .entry-footer {
    display: none;
  }
  .entry-summary {
    p {
      margin-top: 8px;
      margin-bottom: 0;
    }
    .hide-summary & {
      display: none;
    }
  }
  &:hover {
    .pic {
      img {
        transform: scale(1.12);
      }
    }
  }
  &.-card {
    box-shadow: var(--s-shadow);
    border-radius: var(--s-border-radius);
    padding: var(--s-box-padding);
    background-color: var(--s-bg);
    .pic {
      margin: calc(-1 * var(--s-box-padding)) calc(-1 * var(--s-box-padding))
        var(--s-box-padding);
      border-radius: var(--s-border-radius) var(--s-border-radius) 0 0;
      img {
        border-radius: var(--s-border-radius) var(--s-border-radius) 0 0;
      }
    }
  }
  &.-list {
    display: flex;
    padding: 0;
    box-shadow: var(--s-shadow);
    border-radius: var(--s-border-radius);
    background-color: var(--s-bg);
    .pic {
      margin: 0;
      width: 36%;
      a {
        display: block;
        height: 100%;
      }
      img {
        border-radius: var(--s-border-radius) 0 0 var(--s-border-radius);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info {
      width: 64%;
      padding: var(--s-box-padding) var(--s-box-padding) var(--s-box-padding)
        15px;
      display: flex;
    }
    .entry-summary {
      display: none;
    }
  }
  &.-caption {
    position: relative;
    background-color: #000;
    border-radius: var(--s-border-radius);
    box-shadow: var(--s-shadow);
    .pic {
      height: 100%;
      min-height: 150px;
      margin: 0;
      opacity: 0.8;
      transition: 0.7s ease;
      border-radius: var(--s-border-radius);
      display: flex;
      align-items: stretch;
      img {
        height: 100%;
        object-fit: cover;
        border-radius: var(--s-border-radius);
        transition: 0.7s ease;
      }
    }
    .entry-title {
      margin-bottom: 0;
    }
    .entry-meta {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      margin-top: 0;
      transition: 0.7s ease;
      color: var(--s-bg);
    }
    .info {
      position: absolute;
      bottom: 0;
      z-index: 1;
      padding: 15px;
      color: var(--s-bg);
      a {
        color: var(--s-bg);
      }
    }
    &:hover {
      .pic {
        opacity: 0.4;
      }
      .entry-meta {
        max-height: 42px;
        opacity: 1;
        margin-top: 8px;
      }
    }
  }
  &.-hero {
    background-color: #fff;
    box-shadow: var(--s-shadow);
    margin: 0 calc(var(--s-space) * -1) 0;
    @media (min-width: 768px) {
      margin: 0;
      border-radius: var(--s-border-radius) 0 0 var(--s-border-radius);
    }

    .pic {
      img {
        width: 100%;
        max-height: 100vh;
        object-fit: cover;
      }
    }
    .info {
      padding: 0 15px 15px;
    }
  }
}
.content-headline {
  background: var(--s-bg);
  color: var(--s-text);
  position: relative;
  a {
    color: var(--s-text);
    display: block;
    height: 100%;
  }
  &.-bright {
    .pic {
      img {
        opacity: 1;
      }
    }
  }
  &.-notitle {
    .info {
      display: none;
    }
  }
  .pic {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 500px;
      opacity: 0.7;
    }
  }
  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    h2 {
      margin: 0;
    }
    h3 {
      font-size: 0.8em;
      margin: 8px 0 0;
    }
    @media (min-width: 768px) {
      font-size: 30px;
    }
  }
}
.entry-meta {
  font-size: 0.82em;
  margin: 5px 0 var(--s-space);
  opacity: 0.8;
  color: var(--s-border);
  > span {
    margin-right: 10px;
  }
  svg {
    width: 14px;
    height: 14px;
    vertical-align: -2px;
    margin-right: 2px;
  }
  a {
    color: var(--s-border);
    &:hover {
      color: var(--s-accent);
    }
  }
}
.content-table-date {
  width: 140px;
}
body.tag .content-item .tags-links,
body.category .content-item .cat-links {
  display: none;
}
.tags-links {
  margin-top: var(--s-space);
  a {
    font-size: 0.875em;
    border: 1px solid var(--s-border);
    color: var(--s-border);
    border-radius: 50px;
    display: inline-block;
    padding: 2px 12px;
    margin-right: 8px;
    transition: 0.3s;
    &:hover {
      color: var(--s-bg);
      background-color: var(--s-border);
    }
  }
}
.content-pagination {
  clear: both;
  margin-bottom: var(--s-space);
  text-align: center;
  a,
  span {
    display: inline-block;
    text-align: center;
    min-width: 36px;
    height: 36px;
    border-radius: 36px;
    margin: 0 -1px;
    padding: 0;
    line-height: 36px;
    font-family: var(--s-heading);
    font-weight: var(--s-heading-weight);
  }
  a {
    color: var(--s-border);
    transition: 0.3s;
    &:hover {
      color: var(--s-accent-hover);
    }
    &:active {
      color: var(--s-bg);
      background-color: var(--s-accent);
    }
  }
  svg {
    transform: translateY(-1px);
  }
  .current {
    color: var(--s-bg);
    background-color: var(--s-accent);
  }
}

/* SINGLE */
.single-area {
  .main-header {
    text-align: center;
  }
  .content-area {
    max-width: 750px;
    line-height: 1.8;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  .entry-meta {
    text-align: center;
  }
}
/* WIDGET AREA */
.widget-area {
  .current-menu-item > a {
    font-weight: bold;
    color: var(--s-accent);
  }
  .widget_nav_menu {
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .sub-menu {
      padding: 5px 0 0 12px;
      li {
        margin-bottom: 5px;
        position: relative;
      }
    }
  }
  ul {
    padding: 0;
    margin-bottom: 10px;
  }
  li {
    list-style: none;
  }
  a {
    color: var(s--text);
    &:hover {
      color: var(--s-accent-hover);
    }
  }
}
.widget {
  margin-bottom: var(--s-space);
}
.widget-title {
  margin-bottom: 10px;
  font-size: 1.375em;
}
/* ERROR 404 */
.error-404 {
  text-align: center;
  .search-form {
    margin: 0 auto 30px;
  }
}

/* == FOOTER == */
.btn-scroll-to-top { 
  position: absolute;
  right: var(--s-space);
  top: -25px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  border: 1px solid #333;
  cursor: pointer;
  z-index: 10;
  svg { 
    width: 24px;
    height: 24px;
  }
}
.footer-menu-links { 
  display: flex;
  flex-direction: column;
  .footer-menu-item { 
    color: white;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    transition: var(--c-transition-hover);
    margin-bottom: 5px;
    &:hover { 
      color: var(--s-accent-hover);
    }
  }
}
.site-footbar {
  background-color: var(--s-accent);
  border-top: 2px solid var(--s-accent-hover);
  .s-container { 
    position: relative;
  }
  .widget { 
    margin: 0;
  }
}

.site-footer {
  background-color: #f2f2f2;
  > .s-container { 
    min-height: var(--s-footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  .site-info-menu { 
    text-align: center;
    .site-bottom-item { 
      border-right: 1px solid var(--s-accent);
      font-size: 18px;
      margin: 0 2.5px; 
      padding: 0 5px;
      text-transform: uppercase;
      line-height: .8;
      display: inline-block;
      &:last-child { 
        border-right: 0;
      }
      @media only screen and (max-width: 470px) {
        &:nth-child(3) { 
          border-right: 0;
        }
      }
    }
  }
}
.site-info {
  font-size: 18px;
  color: var(--s-accent);  
  margin-top: 20px;
}


/*
           ##           
   ####   #  #    ####  
  #        ##    #      
   ####   ###     ####  
       # #   # #      # 
  #    # #    #  #    # 
   ####   ###  #  ####  
*/
.ss-section { 
  margin: 0;
  grid-gap: 0;
  .ss-section-title { 
    color: var(--s-accent);
    font-size: 40px;
    font-weight: 700;
  }
  .ss-left { 
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 70px;
    padding-bottom: 70px;
    .ss-item { 
      display: block;
      font-size: 28px;
      font-weight: 500;
      color: #333;
      border-bottom: 1px solid #E0E0E0;
      padding: 10px 0;
      &:last-child { 
        border-bottom: none;
      }
      &.active { 
        color: var(--s-accent-hover);
      }
    }
  }
  .ss-right { 
    position: relative;
    height: 400px;
    img {
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
      position: absolute;
      height: 400px;
      width: 100%;
      object-fit: cover;
      &.active { 
        opacity: 1;
      }
    }
  }
}



/*
   ####  #####  ####   ####  #    # 
  #        #   #    # #    # #   #  
   ####    #   #    # #      ####   
       #   #   #    # #      #  #   
  #    #   #   #    # #    # #   #  
   ####    #    ####   ####  #    # 
*/
.stock-homepage { 
  .title { 
    color: #333;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .date { 
    color: #828282;
    font-size: 20px;
  }
  .divider-sm {
    height: 1.5px;
    background-color: var(--s-accent-hover);
    width: 30px;
    position: relative;
    top: -8px;
  }
  .main-stock {
    font-weight: 700;
    font-size: 50px;
    color: var(--s-accent);
  }
  .s-grid.section-1 { 
    margin-bottom: 45px;
    grid-template-columns: 1fr;
  }
  .s-grid.section-2 { 
    margin-bottom: 0;
  }
  .s-grid { 
    grid-template-columns: 2fr 3fr;
  }
  label, .value {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
  }
  .value, .price { 
    text-align: right;
  }
  .section-detail { 
    margin-bottom: 10px;
  }
}


/*
 ####  #    # #  ####  #    #    #    # ###### #    # #    # 
#    # #    # # #    # #   #     ##  ## #      ##   # #    # 
#    # #    # # #      ####      # ## # #####  # #  # #    # 
#  # # #    # # #      #  #      #    # #      #  # # #    # 
#   #  #    # # #    # #   #     #    # #      #   ## #    # 
 ### #  ####  #  ####  #    #    #    # ###### #    #  ####  
*/
.quick-menu {
  grid-gap: 14px;
  .quick-menu-item { 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--s-accent);
    min-height: 130px;
    transition: var(--c-transition-hover);
    svg { 
      color: white;
      margin-bottom: 5px;
      width: 35px;
    }
    .quick-menu-title { 
      color: white;
      font-size: 18px;
      font-weight: 500;
    }
    &:hover { 
      background-color: var(--s-accent-hover);
    }
  }
}